<?xml version="1.0" encoding="UTF-8"?>
 
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        ">
        
  <context:annotation-config />      
  <context:component-scan base-package="tk.bad_rabbit.vlc.impl"></context:component-scan>
  <context:component-scan base-package="tk.bad_rabbit.impl"></context:component-scan>
  <context:component-scan base-package="tk.bad_rabbit.interfaces"></context:component-scan>
  <context:component-scan base-package="tk.bad_rabbit.rest"></context:component-scan>
  <context:component-scan base-package="tk.bad_rabbit.model"></context:component-scan>
  <context:component-scan base-package="tk.bad_rabbit.vlc"></context:component-scan>
  
        
  <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
    <property name="ignoreUnresolvablePlaceholders" value="true" />
    <property name="ignoreResourceNotFound" value="true" />
    <property name="locations">
      <list>
        <value>classpath:application.properties</value>
        <value>classpath:local.properties</value>
        <value>${config}</value>
      </list>
    </property>
   </bean>
   
   <bean class="tk.bad_rabbit.vlc.VlcRunnable" id="vlcRunnable">
   </bean>
   
   
   
</beans>
